*{
    padding: 0;
    margin: 0;
}

.NavContainer{
    display: inline-flex;
    column-gap: 24px    ;
}

.search .NavContainer img{
   width: 131px;
   height: 40px;
}

.search .NavContainer input{
    padding: 0 12px 0 12px;
    border-radius: 25px;
    border: 1px solid #BDBDBD;
}

.userProfile .NavContainer{
    align-items: center;
}

.userProfile .NavContainer img{
    width: 35px;
    height: 35px;
}

.userProfile .NavContainer button{
    background-color: #005555;
    border-radius: 24px;
    padding: 8px 26px 8px 26px;
    border: none;
}

.userProfile .NavContainer button a{
    color: #fff;
    text-decoration: none;
}

.userProfile .NavContainer .user{
    display: flex;
    align-items: center;
    column-gap: 11px;
}

.userProfile .NavContainer .user .icon{
    width: 20px;
    height: 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.categori .wrapperCategori .listCategori{
    display: flex;
    column-gap: 8px;
}

.categori .wrapperCategori a{
    background-color: #3A354114;
    padding: 4px 10px;
    border-radius: 25px;
    font-size: 12px;
    text-decoration: none;
    color: black;
}

.categori .wrapperCategori .lihatSemuaTopik a{
    background-color: unset;
    font-size: 12px;
    text-decoration: none;
    color: #005555;
}

.categori .wrapperCategori{
    display: flex;
    justify-content: space-between;
}

.wrapper{
    padding: 1rem 2rem;
    display: flex;
}

.wrap{
    width: 901px;
}

.wrapper .wrap h4{
    padding-bottom: 19px;
}

.semuaTopik .wrap{
    display: flex;
    column-gap: 24px;
    padding-top: 24px;
}

.semuaTopik .wrap h2{
    font-weight: 600;
    font-size: 18px;
}

.semuaTopik .wrap .media{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.semuaTopik .wrap a{
    text-decoration: none;
    color: black;
    padding: 4px 8px;
    border: 1px solid #3A35413B;
    border-radius: 20px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}

.semuaTopik .wrap .media img{
    width: 11.67px;
    height: 15px;
    display: flex;
    justify-self: flex-end;
}

.semuaTopik .wrap .typographyWrapper{
    display: grid;
    row-gap: 8px;
    width: 901px;
}

.bacaanPopuler .cards{
    background-color: #FDF0CC;
}